# Abaikan folder repo lama atau backup
temp_yomipv/

# Abaikan node_modules di dalam folder yomipv
scripts/yomipv/lookup-app/node_modules/
scripts/yomipv/lookup-app/*.log

# Abaikan log dan sampah OS
*.log
.DS_Store
**/.DS_Store
node_modules/

# Abaikan folder sampah mpv
watch_later/
